<div class="modal stop fade" tabindex="-1" role="dialog" id="thanks">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button type="button" class="btn stop close" data-dismiss="modal" aria-label="Close"></button>
            <div class="modal-body">
                <div class="text-center">
                    <video id="myVideoPlayer" width="100%" height="100%" controls>
                        <source src="video/Envoy.Video.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
        </div>
    </div>
</div>
<!-------------------->
<div class="modal fade" tabindex="-1" role="dialog" id="team1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button type="button" class="btn close" data-dismiss="modal" aria-label="Close"></button>
            <div class="modal-body">
                <div class="modal-team">
                    <div class="modal-team-content">
                        <div class="modal-team-content-image">
                            <div class="image"><img src="images/team/photo_13.png" alt="">
                            </div>
                        </div>
                        <div class="modal-team-content-text">
                            <div class="section-team-content-team-item-name"> William Tebbit</div>
                            <div class="section-team-content-team-item-text">Envoy Capital Management Founder, CEO
                            </div>
                            <a href="https://www.linkedin.com/in/william-tebbit-280a83b/"
                               class="section-team-content-team-item-link">
                                <i class="icon icon-in"></i>
                            </a>
                            <div class="text">
                                William is 53, spent 18 years as a corporate financier and mergers and acquisitions
                                specialist in the City of London. After a spell in running various commerce businesses
                                pre and during the banking crisis in Europe and the Middle East, he co- founded a Trade
                                Finance Business in 2010. In 2015 he successfully sold his interests in the business to
                                its principal funder Macquarie Bank Limited. After his mid life crisis was satisfied
                                through a brief but successful career as a boxer he returned to commerce and funded,
                                built and sold a series of renewable energy assets. He currently owns a significant
                                equity interest in a renewable fuel company.

                                His practical knowledge and experiences of funding businesses as a provider and user of
                                finance brings a valuable skill base to the Envoy Capital Team.

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-------------------->
<div class="modal fade" tabindex="-1" role="dialog" id="team2">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button type="button" class="btn close" data-dismiss="modal" aria-label="Close"></button>
            <div class="modal-body">
                <div class="modal-team">
                    <div class="modal-team-content">
                        <div class="modal-team-content-image">
                            <div class="image">
                                <img src="images/team/photo_6.png" alt="">
                            </div>
                        </div>
                        <div class="modal-team-content-text">
                            <div class="section-team-content-team-item-name">Lee Tarone</div>
                            <div class="section-team-content-team-item-text"> Envoy Founder, CEO</div>
                            <a href="https://www.linkedin.com/in/lee-embury-6a99133a/"
                               class="section-team-content-team-item-link">
                                <i class="icon icon-in"></i>
                            </a>
                            <div class="text">
                                Harrow educated and Brunel Uni BSc graduate, and Middlesex Uni BA graduate. Had a
                                successful career as Head broker at Harlow Butler Ueda FX swaps, only to move on to
                                become a professional dancer working with the Destiny's child, Christina Aguilera, Kylie
                                Minogue and Sarah Brightman to name but a few. Moved on as an Entrepreneur and founder
                                of Mtv trax, nightclub owner, and crypto trader. Currently competes in muay thai and
                                Brazilian jiu jitsu. He has now ended up reverting back to his roots of city life of
                                currencies only this time in crypto. Also Qualified as pilot, just because you only live
                                once.

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-------------------->
<div class="modal fade" tabindex="-1" role="dialog" id="team3">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button type="button" class="btn close" data-dismiss="modal" aria-label="Close"></button>
            <div class="modal-body">
                <div class="modal-team">
                    <div class="modal-team-content">
                        <div class="modal-team-content-image">
                            <div class="image">
                                <img src="images/team/photo_14.png" alt="">
                            </div>
                        </div>
                        <div class="modal-team-content-text">
                            <div class="section-team-content-team-item-name">Paul McGill</div>
                            <div class="section-team-content-team-item-text">CBDO
                            </div>
                            <a href="https://www.linkedin.com/in/paul-mcgill-064757a/"
                               class="section-team-content-team-item-link">
                                <i class="icon icon-in"></i>
                            </a>
                            <div class="text">
                                Paul McGill is a business development specialist, with interests in property and
                                technology. He qualified as a Chartered Accountant with Price Waterhouse in 1992, then
                                moved into investment banking. He worked in fixed income structured products for almost
                                20 years with stints at NatWest Markets, Merrill Lynch and BNP Paribas. He lives in
                                Clapham with his wife and four children, plays squash and golf but looks forward to more
                                travelling and paragliding.

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-------------------->
<div class="modal fade" tabindex="-1" role="dialog" id="team4">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button type="button" class="btn close" data-dismiss="modal" aria-label="Close"></button>
            <div class="modal-body">
                <div class="modal-team">
                    <div class="modal-team-content">
                        <div class="modal-team-content-image">
                            <div class="image">
                                <img src="images/team/photo_4.png" alt="">
                            </div>
                        </div>
                        <div class="modal-team-content-text">
                            <div class="section-team-content-team-item-name">Chris Gorman </div>
                            <div class="section-team-content-team-item-text">Advisor, Founder </div>
                            <a href="https://www.linkedin.com/in/chrisgormanobe/" class="section-team-content-team-item-link">
                                <i class="icon icon-in"></i>
                            </a>
                            <div class="text">
                                A successful serial entrepreneur, immersed in digital money ecosystems for mass adoption
                                on mobile.
                                Chris has a long history of launching, growing and leading highly successful ventures
                                across a wide range of industries including mobile, fintech, technology and retail.
                                Highly regarded, Chris has received many business awards for his entrepreneurialism over
                                the years, including Ernst & Young UK E-Business Entrepreneur of the Year, Scottish
                                Entrepreneur of the Year, Young Business Leader of the Year, Glenfiddich Spirit of
                                Scotland in Business, and the laudable SBAAT Businessman of the Year Award.

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-------------------->
<div class="modal fade" tabindex="-1" role="dialog" id="team5">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button type="button" class="btn close" data-dismiss="modal" aria-label="Close"></button>
            <div class="modal-body">
                <div class="modal-team">
                    <div class="modal-team-content">
                        <div class="modal-team-content-image">
                            <div class="image">
                                <img src="images/team/photo_5.png" alt="">
                            </div>
                        </div>
                        <div class="modal-team-content-text">
                            <div class="section-team-content-team-item-name">George Lindsell</div>
                            <div class="section-team-content-team-item-text"> Advisor </div>
                            <a href="https://www.linkedin.com/in/george-lindsell-49896595/" class="section-team-content-team-item-link">
                                <i class="icon icon-in"></i>
                            </a>
                            <div class="text">
                                Having graduated from Manchester University with a First Class Honours degree in
                                Mechanical Engineering, George has spent the last 3 years in the London Stock Exchange.
                                Currently working as a Software Architect for Emerging Technologies he is responsible
                                for blockchain software development and other emerging technology integration and
                                architecture in financial services.
                                Focussing on our quadruple threat in crypto software architecture, analytics, emerging
                                technologies and technical services.

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-------------------->
<div class="modal fade" tabindex="-1" role="dialog" id="team6">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button type="button" class="btn close" data-dismiss="modal" aria-label="Close"></button>
            <div class="modal-body">
                <div class="modal-team">
                    <div class="modal-team-content">
                        <div class="modal-team-content-image">
                            <div class="image">
                                <img src="images/team/photo_1.png" alt="">
                            </div>
                        </div>
                        <div class="modal-team-content-text">
                            <div class="section-team-content-team-item-name">Andrew George</div>
                            <div class="section-team-content-team-item-text"> Advisor</div>
                            <a href="https://www.linkedin.com/in/andrew-george-2820758/" class="section-team-content-team-item-link">
                                <i class="icon icon-in"></i>
                            </a>
                            <div class="text">
                                Andrew George graduated from the University of Chicago Business School in 1998. He has
                                since worked in for a number of different multinational firms, including Deutsche Bank
                                and Vitol and is a highly experienced financial risk management professional.


                                A team of highly experienced and respected trade finance professionals has been
                                assembled to provide advice and practical input to the development of the strategy and
                                operation of the proposed trade finance funds.

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-------------------->
<div class="modal fade" tabindex="-1" role="dialog" id="team7">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button type="button" class="btn close" data-dismiss="modal" aria-label="Close"></button>
            <div class="modal-body">
                <div class="modal-team">
                    <div class="modal-team-content">
                        <div class="modal-team-content-image">
                            <div class="image">
                                <img src="images/team/photo_9.png" alt="">
                            </div>
                        </div>
                        <div class="modal-team-content-text">
                            <div class="section-team-content-team-item-name">Ray Webb
                            </div>
                            <div class="section-team-content-team-item-text">Ray Webb - Advisor, Envoy Capital Discount Factoring Asset Manager
                            </div>
                            <a href="https://www.linkedin.com/in/ray-webb-60b06316/" class="section-team-content-team-item-link">
                                <i class="icon icon-in"></i>
                            </a>
                            <div class="text">
                                Currently Head of Structured Trade Finance at TMT Metals and also Founder and MD of the
                                trade finance advisory firm Finance for International Trade. Ray has vast experience in
                                trade finance totalling more than 30 years with particular experience of Forfaiting
                                having been Head of Forfaiting at Falcon Group, MD of Deutsche Forfaiting, MD of AON
                                Forfaiting and Head of Primary Forfaiting at Hungarian Int Bank totalling more than 30
                                years.

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-------------------->
<div class="modal fade" tabindex="-1" role="dialog" id="team8">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button type="button" class="btn close" data-dismiss="modal" aria-label="Close"></button>
            <div class="modal-body">
                <div class="modal-team">
                    <div class="modal-team-content">
                        <div class="modal-team-content-image">
                            <div class="image">
                                <img src="images/team/photo_8.png" alt="">
                            </div>
                        </div>
                        <div class="modal-team-content-text">
                            <div class="section-team-content-team-item-name">Niall Mason </div>
                            <div class="section-team-content-team-item-text">Advisor, Envoy Capital Forfaiting Asset Manager</div>
                            <a href="https://www.linkedin.com/in/niallmason/" class="section-team-content-team-item-link">
                                <i class="icon icon-in"></i>
                            </a>
                            <div class="text">
                                Co-Founder of DF Capital - a supply chain finance platform exited at 10x to roll-up as
                                part of TruFinfloat. Prior to this was CFO of Macquarie Bank Limited backed supply chain
                                finance platform. CITF/CDCS Qualified. Experienced in ERP & information systems
                                implementation in global logistics driven businesses including Rolls-Royce,
                                Anglo-American and Tricon.
                                Read PPE at Oxford University (2;1) and is a Chartered Accountant having qualified with
                                Ernst & Young.


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-------------------->
<div class="modal fade" tabindex="-1" role="dialog" id="team9">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button type="button" class="btn close" data-dismiss="modal" aria-label="Close"></button>
            <div class="modal-body">
                <div class="modal-team">
                    <div class="modal-team-content">
                        <div class="modal-team-content-image">
                            <div class="image">
                                <img src="images/team/photo_10.png" alt="">
                            </div>
                        </div>
                        <div class="modal-team-content-text">
                            <div class="section-team-content-team-item-name">Sergey Valuy</div>
                            <div class="section-team-content-team-item-text">Chief Technology Officer </div>
                            <a href="https://www.linkedin.com/in/svaluy/" class="section-team-content-team-item-link">
                                <i class="icon icon-in"></i>
                            </a>
                            <div class="text">
                                Smartum Pro CTO with technical vision of projects and more than 10 years of experience
                                in software development.
                                Having overcome all challenges during these 10 years, Sergey assesses risks and makes
                                decisions aimed at releasing quality products in the shortest possible time.

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-------------------->
<div class="modal fade" tabindex="-1" role="dialog" id="team10">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button type="button" class="btn close" data-dismiss="modal" aria-label="Close"></button>
            <div class="modal-body">
                <div class="modal-team">
                    <div class="modal-team-content">
                        <div class="modal-team-content-image">
                            <div class="image">
                                <img src="images/team/photo_12.png" alt="">
                            </div>
                        </div>
                        <div class="modal-team-content-text">
                            <div class="section-team-content-team-item-name">Darya Chyhileichyk
                            </div>
                            <div class="section-team-content-team-item-text">Business Analyst </div>
                            <a href="https://www.linkedin.com/in/daryachyhileichyk/" class="section-team-content-team-item-link">
                                <i class="icon icon-in"></i>
                            </a>
                            <div class="text">
                                Passionate Business Analyst. Darya has experience in product design, development and
                                deployment in an agile environment. She translates business goals and end user needs
                                into product strategy; communicates direction and product priorities to the development
                                team and partners.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-------------------->
<div class="modal fade" tabindex="-1" role="dialog" id="team11">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button type="button" class="btn close" data-dismiss="modal" aria-label="Close"></button>
            <div class="modal-body">
                <div class="modal-team">
                    <div class="modal-team-content">
                        <div class="modal-team-content-image">
                            <div class="image">
                                <img src="images/team/photo_3.png" alt="">
                            </div>
                        </div>
                        <div class="modal-team-content-text">
                            <div class="section-team-content-team-item-name">Cal Evans </div>
                            <div class="section-team-content-team-item-text"> Legal Advisor</div>
                            <a href="https://www.linkedin.com/in/calevans1/" class="section-team-content-team-item-link">
                                <i class="icon icon-in"></i>
                            </a>
                            <div class="text">
                                An entrepreneurial Legal professional with experience working on behalf of companies
                                across the globe in a range of industries with a focus on Cryptocurrency.
                                Experience working in English, European, Canadian, U.S. Multi-State and U.S. Federal
                                law.
                                Former UK government Adviser with the Department of Business Innovation and Skills,
                                helping to draft the 2011 Agency Workers Regulations. Consulting with MP's, The Home
                                Secretary and team members to improve understanding of the law.

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-------------------->
<div class="modal fade" tabindex="-1" role="dialog" id="team12">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button type="button" class="btn close" data-dismiss="modal" aria-label="Close"></button>
            <div class="modal-body">
                <div class="modal-team">
                    <div class="modal-team-content">
                        <div class="modal-team-content-image">
                            <div class="image">
                                <img src="images/team/photo_2.png" alt="">
                            </div>
                        </div>
                        <div class="modal-team-content-text">
                            <div class="section-team-content-team-item-name">Andrew Liaw</div>
                            <div class="section-team-content-team-item-text">Token Economics and Structuring, Advisor  </div>
                            <a href="https://www.linkedin.com/in/andrew-liaw-569055a3/" class="section-team-content-team-item-link">
                                <i class="icon icon-in"></i>
                            </a>
                            <div class="text">
                                Andrew has spent many years working internationally in the traditional hedge fund space
                                as a Consultant and Tax Manager with Deloitte and State Street Bank; he has also served
                                as a loaned staff for Goldman Sachs. Andrew is an avid entrepreneur, a crypto
                                investor/trader, and the founder of Digital Assets Consulting Group LLC who's mission is
                                to help bridge the gap between traditional finance and the crypto space. His crypto
                                experiences include helping traditional hedge funds transition into crypto funds and
                                guiding ICOs through uncharted regulatory landscapes, developing their token economics
                                and building out their platform structures.

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-------------------->
<div class="modal fade" tabindex="-1" role="dialog" id="team13">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button type="button" class="btn close" data-dismiss="modal" aria-label="Close"></button>
            <div class="modal-body">
                <div class="modal-team">
                    <div class="modal-team-content">
                        <div class="modal-team-content-image">
                            <div class="image">
                                <img src="images/team/photo_11.png" alt="">
                            </div>
                        </div>
                        <div class="modal-team-content-text">
                            <div class="section-team-content-team-item-name">Tatiana Stepanova</div>
                            <div class="section-team-content-team-item-text">Content Designer and Visual Storyteller, Advisor </div>
                            <a href="https://www.linkedin.com/in/tatiana-thieree/" class="section-team-content-team-item-link">
                                <i class="icon icon-in"></i>
                            </a>
                            <div class="text">
                                Tatiana is content, white paper, pitch deck and web strategy expert.
                                Specialized in making comprehensive concepts clear, worth sharing ideas perfectly shaped
                                and untangling the complicated stories.
                                Has been more than 10 years in IT R&D before becoming a blockchain enthusiast - this
                                greatly enriches Tatiana’s value and helps her to bring ICO content to life.

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-------------------->