.btn{
  font-size: 16px;
  text-align: center;
  font-weight: bold;
  padding:10px;
  line-height: 26px;
  height: 50px;
  position: relative;
  border:2px solid;
  &-blue{
    color: $color_white;
    border-color: $color_blue_1;
    background-color: $color_blue_1;
    &:hover{
      @include box_shadow(0 5px 30px rgba(53, 186, 243, 0.5));
      color: $color_white;
    }
  }
  &-border-white{
    color: $color_white;
    border-color: $color_white;
    &:hover{
      @include box_shadow(0 5px 30px rgba(255, 255, 255, 0.5));
      color: $color_white;
    }
  }
  &-border-blue{
    color: $color_blue_1;
    border-color: $color_blue_1;
    &:hover{
      @include box_shadow(0 5px 30px rgba(53, 186, 243, 0.5));
      color: $color_blue_1;
    }
  }
  &-full{
    width: 100%;
  }
  &.disabled,
  &:disabled{
    background: #e0e0e5;
    color:$color_gray_1;
  }
  &-lg{
    min-width: 270px;
    text-transform: uppercase;
    padding-top: 18px;
    padding-bottom: 18px;
  }
  &-menu{
    border: 0;
    padding: 18px 15px;
    line-height: 2px;
    text-align: right;
    width: 52px;
    .icon-bar{
      display: inline-block;
      vertical-align: top;
      background: $color_blue_1;
      width: 22px;
      height: 2px;
      @include web_transition(all .2s ease-in-out);
      &+.icon-bar{
        margin-top: 5px;
      }
      &:nth-child(2){
        width: 18px;
      }
      &:nth-child(3){
        width: 20px;
      }
    }
    &.open{
      .icon-bar{
        &:first-child {
          @include web_transform(translateY(7px) rotate(45deg));
          width: 100%;
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:last-child {
          @include web_transform(translateY(-7px) rotate(-45deg));
          width: 100%;
        }
      }
    }
  }
}
.link{
  display: inline-block;
  vertical-align: top;
  &-underline{
    text-decoration: underline;
    &:hover{
      text-decoration: none;
    }
  }
}