.icon{
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: top;
  background-repeat: no-repeat;
  background-size: 100% auto;
  &-left{
    margin-right: 5px;
  }
  &-right{
    margin-left:5px;
  }
  &-middle{
    vertical-align: middle;
    margin-top: -2px;
  }
  &-donwload{
    vertical-align: middle;
    margin-top: -2px;
    background-image: url("../images/icon-donwload.png");
    width: 25px;
    height: 25px;
  }
  &-play{
    background-image: url("../images/icon-play.png");
    width: 80px;
    height: 80px;
  }
  &-1{
    background-image: url("../images/icon-1.png");
    width: 81px;
    height: 81px;
  }
  &-2{
    background-image: url("../images/icon-2.png");
    width: 81px;
    height: 81px;
  }
  &-3{
    background-image: url("../images/icon-3.png");
    width: 81px;
    height: 81px;
  }
  &-4{
    background-image: url("../images/icon-4.png");
    width: 81px;
    height: 81px;
  }
  &-5{
    background-image: url("../images/icon-5.png");
    width: 64px;
    height: 55px;
  }
  &-6{
    background-image: url("../images/icon-6.png");
    width: 81px;
    height: 81px;
  }
  &-in{
    background-image: url("../images/in.svg");
    width: 18px;
    height: 18px;
  }
  &--1{
    background-image: url("../images/icon--1.png");
    width: 9px;
    height: 18px;
    left: -5px;
    position: relative;
  }
  &--2{
    background-image: url("../images/icon--2.png");
    width: 19px;
    height: 15px;
  }
  &--3{
    background-image: url("../images/icon--3.png");
    width: 21px;
    height: 17px;
  }
  &--4{
    background-image: url("../images/icon--4.png");
    width: 23px;
    height: 16px;
  }
  &--5{
    background-image: url("../images/icon--5.png");
    width: 23px;
    height: 23px;
  }
  &--6{
    background-image: url("../images/icon--6.png");
    width: 18px;
    height: 18px;
  }
  &--7{
    background-image: url("../images/icon--7.png");
    width: 20px;
    height: 23px;
  }
  &--8{
    background-image: url("../images/icon--8.png");
    width: 19px;
    height: 16px;
  }
  &--9{
    background-image: url("../images/icon--9.png");
    width: 24px;
    height: 21px;
  }
  &--10{
    background-image: url("../images/icon--10.png");
    width: 25px;
    height: 20px;
  }
}