.modal{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  &.fade{
    opacity: 0;
    filter: alpha(opacity=0);
    @include web_transition(opacity .15s linear);
    .modal-dialog{
      @include web_transform(translate(0,-25%));
      @include web_transition(transform .3s ease-out);
    }
  }
  &.in{
    opacity: 1;
    background: rgba(49, 48, 107, 0.95);
    filter: alpha(opacity=100);
    .modal-dialog{
      @include web_transform(translate(0,0));
    }
  }
  &-open{
    overflow: hidden;
    .modal{
      overflow-x: hidden;
      overflow-y: auto;
    }
  }
  &-backdrop{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
    &.fade{
      filter: alpha(opacity=0);
      opacity: 0;
    }
    &.in{
      filter: alpha(opacity=50);
      opacity: .5;
    }
  }
  &-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll;
  }
  &-dialog{
    max-width: 945px;
    margin: 15% auto 0;
    position: relative;
    width: auto;
  }
  &-content{
    border-radius: 5px;
    position: relative;
    outline: 0;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }
  &-body{
    font-size: 20px;
    position: relative;
  }
  .close{
    position: absolute;
    width: 40px;
    height: 40px;
    line-height: 40px;
    right: 0;
    top: 0;
    Z-INDEX: 10;
    border: 0;
    background: url("../images/close.png") no-repeat center;
    &:hover{
      opacity: 0.5;
    }
  }
  &-team{
    max-width: 945px;
    width: 100%;
    margin: 0 auto;
    &-content{
      @include block_flex;
      &-image{
        width: 30%;
      }
      &-text{
        width: 70%;
        padding-left: 25px;
        position: relative;
        .section-team-content-team-item-name{
          font-size: 26px;
          line-height: 22px;
          padding-bottom: 10px;
          color: $color_white;
        }
        .section-team-content-team-item-text{
          font-size: 12px;
          line-height: 30px;
          padding-bottom: 15px;
          text-transform: uppercase;
          color: $color_blue_1;
        }
        .section-team-content-team-item-link{
          width: 33px;
          height: 33px;
          transform: rotate(45deg);
          position: relative;
          background: $color_blue_1;
          display: block;
          margin: 0;
          i{
            position: absolute;
            top: 22%;
            left: 22%;
            transform: rotate(-45deg);
            color: $color_white;
          }
        }
        .text{
          font-size: 14px;
          line-height: 24px;
          color: $color_white;
          padding-top: 15px;
        }
      }
    }
  }
  @media(max-width: 767px) {
    &-content{
      margin: 0 15px;
    }
    &-team{
      &-content{
        flex-direction: column;
        &-image{
          width: 30%;
        }
        &-text{
          width: 100%;
          padding: 0;
          .section-team-content-team-item-name{
            font-size: 22px;
            padding-bottom: 5px;
          }
          .section-team-content-team-item-text{
            padding-bottom: 10px;
          }
          .text{
            line-height: 20px;
            padding-top: 10px;
          }
        }
      }
    }
  }
}