@media(min-width: 1025px) {
  .hide-desktop {
    display: none;
  }
}

@media(max-width: 1024px) {
  .hide-tablet {
    display: none;
  }
  .h1, h1 {
    font-size: 76px;
  }
  .section{
    padding-top: 40px;
    padding-bottom: 15px;
  }
  .section-block-top{
    padding-bottom: 20px;
    margin-bottom: 14px;
  }
  .block-text-blue{
    padding-top: 14px;
    font-size: 16px;
    line-height: 24px;

  }
  .section-name{
    font-size: 46px;
    line-height: 46px;
    &.mini{
      font-size: 26px;
      line-height: 26px;
    }
  }
  .section-capital-bg:after {
    width: 1000px;
    height: 1000px;
    top: 400px;
    margin-left: -500px;
  }
}

@media(min-width: 768px) {
  .show-mobile {
    display: none !important;
  }

  //.section-capital-bg:after {
  //  width: 1000px;
  //  height: 1000px;
  //  top: 400px;
  //  margin-left: -500px;
  //}
}

@media(max-width: 767px) {
  .hide-mobile {
    display: none;
  }
  .container, .container-min {
    padding-left: 15px;
    padding-right: 15px;
  }
  .h1, h1 {
    font-size: 50px;
  }
  .section{
    padding-top: 25px;
    padding-bottom: 10px;
  }
  .section-block-top{
    padding-bottom: 15px;
    margin-bottom: 10px;
  }

  .section-name{
    font-size: 34px;
    line-height: 34px;
    &.mini{
      font-size: 34px;
      line-height: 34px;
    }
  }
}
@media (max-width: 520px) {
  .h1, h1 {
    font-size: 40px;
  }
}