.form{
  &-name{
    font-size: 20px;
    text-align: center;
    border-bottom: 1px solid $border_color_1;
    margin-bottom: 30px;
    padding-bottom: 10px;
  }
  &-group{
    margin-bottom: 15px;
  }
  &-btn{
    margin-top: 35px;
  }
  &-text{
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  &-control{
    background: none;
    margin: 0;
    font-size: 16px;
    color: $color_blue_1;
    outline: none;
    width: 100%;
    border: 1px solid $color_blue_1;
    border-top: 0;
    border-radius:0;
    vertical-align: top;
    line-height: normal;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-clip: padding-box;
    padding: 5px;
    height: 33px;
    &:disabled{
      background: $color_gray_1;
      color: $color_white;
    }
    &:focus,
    &:hover{
      border-color: $color_white;
    }
    &::-webkit-input-placeholder{
      color: $color_white;
    }
    &:-moz-placeholder{
      color: $color_white;
    }
    &:-ms-input-placeholder{
      color: $color_white;
    }
    &.error{
      border-color: $color_red_1;
    }
    &.valid{
      border-color: $color_green_1;
    }
    &.warning{
      border-color:$color_yellow_1;
    }
  }
}
textarea.form-control{
  resize: vertical;
  max-height: 300px;
}
.box-control{
  position: relative;
  &:after,&:before{
    position: absolute;
    content: '';
    top:0;
    height: 80%;
    width:1px;
    background: $bg_body;
  }
  &:after{
    left:0;
  }
  &:before{
    right: 0;
  }
}