<section class="section section-vision" id="vision">
    <div class="section-vision-bg-fon">
        <div class="section-vision-fon"></div>

    </div>
    <div class="section-capital-bg"></div>
    <div class="container">
        <div class="section-block-top">
            <div class="section-name" data-aos="fade-up" data-aos-easing="ease" data-aos-delay="200">Vision</div>
            <div class="block-text-blue" data-aos="fade-up" data-aos-easing="ease" data-aos-delay="300">Envoy revolution, disrupting supply chain finance</div>
        </div>
        <div class="section-vision-content">
            <div class="section-vision-content-img" data-aos="fade-right">
                <img src="images/111.png" alt="">
            </div>
            <div class="section-vision-content-text" data-aos="fade-left">

                ENVOY CAPITAL is a platform that will facilitate the funding invoice factory service via public
                participation in initial coin offerings (ICO). A management company (i.e. Envoy) can set up a number of
                SPV (special purpose vehicles) companies which can raise capital by issuing a series of native tokens.
                Anyone willing to participate in the ICO will have the chance to buy the native tokens which are managed
                in a fully decentralized manner by a smart contract running on the blockchain. The Token entitles the
                bearer to have the right of predetermined claim on the economics of the SPV and get rewarded according
                to the size of their holdings.
                <br/>
                <br/>
                Following the first successful token issuance and SPV buildout, the management company will have a
                repeatable infrastructure for funding future invoice factoring projects via new SPVs.
            </div>
        </div>
        <div class="section-vision-btn">
            <a class="btn btn-blue"><i class="icon icon-donwload"></i> Download WhitePaper</a>
        </div>
    </div>
</section>