.section-intro{
  text-align: center;
  background-image: url("../images/bg_main.jpg");
  background-size: cover;
  padding: 150px 0;
  background-position: 100%;

  .block-text-blue{
    margin-bottom: 0;
    padding-bottom: 26px;
    &:after{
      display: none;
    }
  }
  h1{
    padding-bottom: 60px;
    line-height: 70px;
  }
  &-text{
    color: $color_white;
    font-size: 24px;
    line-height: 40px;
    font-weight: 700;
    padding-bottom: 20px;
    span{
      font-style: italic;
      font-weight: 100;
    }
  }
  &-btn{
    display: flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    max-width: 360px;
    width: 100%;
    margin: 0 auto;
    .btn{
      max-width: 48%;
      width: 100%;
    }
  }
}

@media(max-width: 767px) {
  .section-intro{
    padding: 85px 0;
    .block-text-blue{
      padding-bottom: 12px;
    }
    h1{
      padding-bottom: 20px;
    }
    &-text{
      font-size: 22px;
    }
  }
}