<section class="section section-roadmap" id="roadmap">
    <div class="section-roadmap-bg"></div>
    <div class="section-roadmap-bg-fon"></div>
    <div class="container">
        <div class="section-block-top">
            <div class="section-name"  data-aos="fade-up" data-aos-easing="ease" data-aos-delay="200">Roadmap</div>
        </div>
        <div class="section-roadmap-list">
            <div class="section-roadmap-list_item active"  data-aos="fade-up" data-aos-easing="ease" data-aos-delay="50">
                <div class="name">
                    Jan - May, 2018
                </div>
                <div class="section-roadmap-list_item_point"></div>
                <div class="text">
                    <p>Development of Envoy Capital
                    platform concept,</p>
                    <p>Project plan elaboration</p>
                </div>
            </div>
            <div class="section-roadmap-list_item"  data-aos="fade-up" data-aos-easing="ease" data-aos-delay="100">
                <div class="name">
                    15 May - 15 Jun, 2018
                </div>
                <div class="section-roadmap-list_item_point"></div>
                <div class="text">
                    <p>Envoy Capital Whitelist</p>
                </div>
            </div>
            <div class="section-roadmap-list_item"  data-aos="fade-up" data-aos-easing="ease" data-aos-delay="150">
                <div class="name">1 jul - 15 jul, 2018</div>
                <div class="section-roadmap-list_item_point"></div>
                <div class="text"><p>Private Pre-ICO</p></div>
            </div>
            <div class="section-roadmap-list_item"  data-aos="fade-up" data-aos-easing="ease" data-aos-delay="200">
                <div class="name">15 jul - 30 Jul, 2018</div>
                <div class="section-roadmap-list_item_point"></div>
                <div class="text"><p>Public Pre-ICO</p></div>
            </div>
            <div class="section-roadmap-list_item"  data-aos="fade-up" data-aos-easing="ease" data-aos-delay="250">
                <div class="name">1 AUG - 30 SEP, 2018</div>
                <div class="section-roadmap-list_item_point"></div>
                <div class="text"><p>ICO</p></div>
            </div>
            <div class="section-roadmap-list_item"  data-aos="fade-up" data-aos-easing="ease" data-aos-delay="300">
                <div class="name">oct, 2018</div>
                <div class="section-roadmap-list_item_point"></div>
                <div class="text"><p>Exchange listing</p></div>
            </div>
            <div class="section-roadmap-list_item"  data-aos="fade-up" data-aos-easing="ease" data-aos-delay="350">
                <div class="name">nov - DEC, 2018</div>
                <div class="section-roadmap-list_item_point"></div>
                <div class="text"><p>Platform Beta version Test</p></div>
            </div>
            <div class="section-roadmap-list_item"  data-aos="fade-up" data-aos-easing="ease" data-aos-delay="400">
                <div class="name">Q1, 2019</div>
                <div class="section-roadmap-list_item_point"></div>
                <div class="text"><p>Platform Beta version launch,</p><p>SPV1 Creation </p></div>
            </div>
            <div class="section-roadmap-list_item"  data-aos="fade-up" data-aos-easing="ease" data-aos-delay="450">
                <div class="name">Q2, 2019</div>
                <div class="section-roadmap-list_item_point"></div>
                <div class="text"><p>Platform adjustment,</p><p>SPV2 creation</p></div>
            </div>
            <div class="section-roadmap-list_item"  data-aos="fade-up" data-aos-easing="ease" data-aos-delay="500">
                <div class="name">Q3, 2019</div>
                <div class="section-roadmap-list_item_point"></div>
                <div class="text"><p>Official Platform launch,</p><p>SPV3 creation  </p></div>
            </div>
            <div class="section-roadmap-list_item"  data-aos="fade-up" data-aos-easing="ease" data-aos-delay="550">
                <div class="name">Q4, 2019</div>
                <div class="section-roadmap-list_item_point"></div>
                <div class="text"><p>Trading start,</p><p>Deep learning AI integration  </p></div>
            </div>
            <div class="section-roadmap-list_item"  data-aos="fade-up" data-aos-easing="ease" data-aos-delay="600">
                <div class="name">Q1, 2020</div>
                <div class="section-roadmap-list_item_point"></div>
                <div class="text"><p>Going woldwide,</p>
                    <p>International community's recognition: Launch in 5 countries,
                    Patnering with Government</p>
                </div>
            </div>
        </div>
    </div>
</section>