<section class="section section-team" id="teams1">
    <div class="container">
        <div class="section-block-top">
            <div class="section-name" data-aos="fade-up" data-aos-easing="ease" data-aos-delay="200">our team</div>
        </div>
        <div class="section-team-content container-min" >
            <div class="section-team-content-text" data-aos="fade-up" data-aos-easing="ease" data-aos-delay="300">
                The platform will focus on bringing best-in-class disruptive financial services managers, and creating
                cutting edge software to provide the platform for the formation of the new funds
            </div>
            <div class="section-team-content-team">
                <div class="section-team-content-team-head">
                    <div class="section-team-content-team-item" data-aos="fade-right">
                        <a type="button" data-toggle="modal" data-target="#team1" class="section-team-content-team-item-img">
                            <img src="images/team/photo_13.png" alt="">
                        </a>
                        <div class="section-team-content-team-item-name"> William Tebbit</div>
                        <div class="section-team-content-team-item-text">Envoy Capital Management Founder, CEO
                        </div>
                        <a href="https://www.linkedin.com/in/william-tebbit-280a83b/" class="section-team-content-team-item-link">
                            <i class="icon icon-in"></i>
                        </a>
                    </div>
                    <div class="section-team-content-team-item">
                        <a type="button" data-toggle="modal" data-target="#team2" class="section-team-content-team-item-img">
                            <img src="images/team/photo_6.png" alt="">
                        </a>
                        <div class="section-team-content-team-item-name">Lee Tarone</div>
                        <div class="section-team-content-team-item-text"> Envoy Founder, CEO</div>
                        <a href="https://www.linkedin.com/in/lee-embury-6a99133a/" class="section-team-content-team-item-link">
                            <i class="icon icon-in"></i>
                        </a>
                    </div>
                    <div class="section-team-content-team-item">
                        <a type="button" data-toggle="modal" data-target="#team3" class="section-team-content-team-item-img">
                            <img src="images/team/photo_14.png" alt="">
                        </a>
                        <div class="section-team-content-team-item-name">Paul McGill</div>
                        <div class="section-team-content-team-item-text">CBDO
                        </div>
                        <a href="https://www.linkedin.com/in/paul-mcgill-064757a/" class="section-team-content-team-item-link">
                            <i class="icon icon-in"></i>
                        </a>
                    </div>

                </div>
                <div class="section-team-btn">
                    <a class="btn btn-border-blue open-team"> View the entire ENVOY team</a>
                </div>
                <div class="section-team-content-team-body">
                <div class="section-team-content-team-body-content">

                    <div class="section-team-content-team-item">
                        <a type="button" data-toggle="modal" data-target="#team4" class="section-team-content-team-item-img">
                            <img src="images/team/photo_4.png" alt="">
                        </a>
                        <div class="section-team-content-team-item-name">Chris Gorman </div>
                        <div class="section-team-content-team-item-text">Advisor, Founder </div>
                        <a href="https://www.linkedin.com/in/chrisgormanobe/" class="section-team-content-team-item-link">
                            <i class="icon icon-in"></i>
                        </a>
                    </div>
                    <div class="section-team-content-team-item">
                        <a type="button" data-toggle="modal" data-target="#team5" class="section-team-content-team-item-img">
                            <img src="images/team/photo_5.png" alt="">
                        </a>
                        <div class="section-team-content-team-item-name">George Lindsell</div>
                        <div class="section-team-content-team-item-text"> Advisor </div>
                        <a href="https://www.linkedin.com/in/george-lindsell-49896595/" class="section-team-content-team-item-link">
                            <i class="icon icon-in"></i>
                        </a>
                    </div>

                    <div class="section-team-content-team-item">
                        <a type="button" data-toggle="modal" data-target="#team6" class="section-team-content-team-item-img">
                            <img src="images/team/photo_1.png" alt="">
                        </a>
                        <div class="section-team-content-team-item-name">Andrew George</div>
                        <div class="section-team-content-team-item-text"> Advisor</div>
                        <a href="https://www.linkedin.com/in/andrew-george-2820758/" class="section-team-content-team-item-link">
                            <i class="icon icon-in"></i>
                        </a>
                    </div>
                    <div class="section-team-content-team-item">
                        <a type="button" data-toggle="modal" data-target="#team7" class="section-team-content-team-item-img">
                            <img src="images/team/photo_9.png" alt="">
                        </a>
                        <div class="section-team-content-team-item-name">Ray Webb
                        </div>
                        <div class="section-team-content-team-item-text">Ray Webb - Advisor, Envoy Capital Discount Factoring Asset Manager
                        </div>
                        <a href="https://www.linkedin.com/in/ray-webb-60b06316/" class="section-team-content-team-item-link">
                            <i class="icon icon-in"></i>
                        </a>
                    </div>
                    <div class="section-team-content-team-item">
                        <a type="button" data-toggle="modal" data-target="#team8" class="section-team-content-team-item-img">
                            <img src="images/team/photo_8.png" alt="">
                        </a>
                        <div class="section-team-content-team-item-name">Niall Mason </div>
                        <div class="section-team-content-team-item-text">Advisor, Envoy Capital Forfaiting Asset Manager</div>
                        <a href="https://www.linkedin.com/in/niallmason/" class="section-team-content-team-item-link">
                            <i class="icon icon-in"></i>
                        </a>
                    </div>
                    <div class="section-team-content-team-item">
                        <a type="button" data-toggle="modal" data-target="#team9" class="section-team-content-team-item-img">
                            <img src="images/team/photo_10.png" alt="">
                        </a>
                        <div class="section-team-content-team-item-name">Sergey Valuy</div>
                        <div class="section-team-content-team-item-text">Chief Technology Officer </div>
                        <a href="https://www.linkedin.com/in/svaluy/" class="section-team-content-team-item-link">
                            <i class="icon icon-in"></i>
                        </a>
                    </div>
                    <div class="section-team-content-team-item">
                        <a type="button" data-toggle="modal" data-target="#team10" class="section-team-content-team-item-img">
                            <img src="images/team/photo_12.png" alt="">
                        </a>
                        <div class="section-team-content-team-item-name">Darya Chyhileichyk
                        </div>
                        <div class="section-team-content-team-item-text">Business Analyst </div>
                        <a href="https://www.linkedin.com/in/daryachyhileichyk/" class="section-team-content-team-item-link">
                            <i class="icon icon-in"></i>
                        </a>
                    </div>
                    <div class="section-team-content-team-item">
                        <a type="button" data-toggle="modal" data-target="#team11" class="section-team-content-team-item-img">
                            <img src="images/team/photo_3.png" alt="">
                        </a>
                        <div class="section-team-content-team-item-name">Cal Evans </div>
                        <div class="section-team-content-team-item-text"> Legal Advisor</div>
                        <a href="https://www.linkedin.com/in/calevans1/" class="section-team-content-team-item-link">
                            <i class="icon icon-in"></i>
                        </a>
                    </div>
                    <div class="section-team-content-team-item">
                        <a type="button" data-toggle="modal" data-target="#team12" class="section-team-content-team-item-img">
                            <img src="images/team/photo_2.png" alt="">
                        </a>
                        <div class="section-team-content-team-item-name">Andrew Liaw</div>
                        <div class="section-team-content-team-item-text">Token Economics and Structuring, Advisor  </div>
                        <a href="https://www.linkedin.com/in/andrew-liaw-569055a3/" class="section-team-content-team-item-link">
                            <i class="icon icon-in"></i>
                        </a>
                    </div>
                    <div class="section-team-content-team-item">
                        <a type="button" data-toggle="modal" data-target="#team13" class="section-team-content-team-item-img">
                            <img src="images/team/photo_11.png" alt="">
                        </a>
                        <div class="section-team-content-team-item-name">Tatiana Stepanova</div>
                        <div class="section-team-content-team-item-text">Content Designer and Visual Storyteller, Advisor </div>
                        <a href="https://www.linkedin.com/in/tatiana-thieree/" class="section-team-content-team-item-link">
                            <i class="icon icon-in"></i>
                        </a>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</section>