.section-team{
  &-content{
    &-text{
      font-size: 14px;
      line-height: 24px;
      color: $color_black;
      max-width: 620px;
      margin: 0 auto;
      text-align: center;
      padding-top: 20px;
      padding-bottom: 40px;
    }
    &-team{
      &-head{
        display: flex;
        flex-flow: wrap;
        justify-content: space-around;
        align-content: space-between;
        }
      &-body{
        .section-team-content-team-item {
          margin-bottom: 30px;
        }
        padding-top: 50px;
        display: none;
        &-content{
          display: flex;
          flex-flow: wrap;
          justify-content: space-around;
          align-content: space-between;
        }

      }
    }

  }
  &-btn{
    text-align: center;
    padding-top:70px;
    .btn{
      max-width: 300px;
      width: 100%;
    }
  }
}
.section-team-content-team-item{
  max-width: 270px;
  width: 100%;
  text-align: center;
  &-img{
    display: block;
  }
  &-name{
    font-size: 26px;
    font-weight: 700;
    line-height: 22px;
    color: $color_link;
    padding-bottom: 12px;
    padding-top: 20px;
  }
  &-text{
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    text-transform: uppercase;
    color: $color_blue_1;
    padding-bottom: 12px;
  }
  &-link{
    width: 33px;
    height: 33px;
    transform: rotate(45deg);
    position: relative;
    background: $color_blue_1;
    margin: 0 auto;
    display: block;
    i{
      position: absolute;
      top: 22%;
      left: 22%;
      transform: rotate(-45deg);
      color: $color_white;
    }
  }
}
@media(max-width: 1024px) {
  .section-team-content-team-item{
    max-width: 240px;

    &-img{
      margin-bottom: 10px;
    }
    &-name{
      font-size: 20px;
      padding-bottom: 8px;
    }
    &-text{
      font-size: 12px;
      font-weight: 700;
    }
  }
}
@media(max-width: 940px) {
  .section-team-content-team-item{
    max-width: 200px;
    margin-bottom: 20px;
  }
}