<section class="section-intro">
    <div class="container">
        <div class="block-text-blue">
            Asset Management Platform
        </div>
        <h1 data-aos="zoom-in">Envoy Capital</h1>
        <div class="section-intro-text" data-aos="fade-up" data-aos-easing="ease" data-aos-delay="200">
            ICO <span>will be on live</span>  August 1st
        </div>
        <div class="section-intro-btn">
            <a class="btn btn-blue" data-aos="fade-up" data-aos-easing="ease" data-aos-delay="300">Buy ENVOY</a>
            <a class="btn btn-border-white" data-aos="fade-up" data-aos-easing="ease" data-aos-delay="300">Learn More</a>
        </div>
    </div>
</section>