.section-vision{
  background: #ffffff;
  position: relative;
  &:after{
    content: '';
    position: absolute;
    left: 50%;
    margin-left: -200px;
    top: 0;
    background-image: url(../images/triangle.png);
    background-repeat: no-repeat;
    width: 400px;
    height: 170px;
    z-index: 0;

  }
  .container{
    position: relative;
    z-index: 3;
  }
  .section-capital-bg{
    &:after{
      top: 0;
      border-top-left-radius: 100%;
    }
  }
  &-bg-fon{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 0;
  }
  &-fon{
    position: relative;
    height: 400px;
    top: -125px;
    &:after{
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      background-position: 0 0;
      background-image: url("../images/left_1.png");
      background-repeat: no-repeat;
      width: 50%;
      height: 100%;
      -webkit-background-size: cover;
      background-size: cover;
    }
    &:before{
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      background-position: 100% 0;
      background-image: url("../images/right.png");
      background-repeat: no-repeat;
      width: 50%;
      height: 100%;
      -webkit-background-size: cover;
      background-size: cover;
    }
  }
 &-content{
   padding-top: 30px;
   display: flex;
   display: -webkit-flex;
   justify-content: space-between;
   -webkit-justify-content: space-between;
   & > div{
     width: 48%;
   }
   &-img{
     img{
       width: 100%;
     }
   }
   &-text{
     font-size: 14px;
     line-height: 25px;
     color: #222328;
   }
 }
  &-btn{
    text-align: center;
    padding-top: 45px;
    .btn{
      max-width: 290px;
      width: 100%;
      .icon{
        margin-right: 15px;
      }
    }
  }
}
@media(max-width: 940px) {
  .section-vision{
    &-fon{
      height: 300px;
      top: -91px;
    }
  }
}
@media(max-width: 767px) {
  .section-vision-content{
    flex-direction: column;
    &>div{
      width: 100%;
    }
    &-img{
      margin-bottom: 20px;
    }
  }
  .section-vision{
    &-fon{
      height: 200px;
      top: -61px;
    }
    &:after{
      margin-left: -125px;
      width: 250px;
      height: 102px;
      -webkit-background-size: cover;
      background-size: cover;
    }
  }
}
@media(max-width: 520px) {
  .section-vision{
    &:after{
      margin-left: -80px;
      width: 160px;
      height: 60px;
    }
  }
}