<section class="section section-inspiration" id="inspiration">
    <div class="section-inspiration-bg"></div>
    <div class="container">
        <div class="section-block-top">
            <div class="section-name" data-aos="fade-up" data-aos-easing="ease" data-aos-delay="200">Inspiration</div>
            <div class="block-text-blue" data-aos="fade-up" data-aos-easing="ease" data-aos-delay="300">What does Envoy Asset Management <br>
                Platform mean for you?  </div>
        </div>
        <div class="section-inspiration-content">
            <div class="section-inspiration-content-video" data-aos="flip-left">
                <img src="images/img-inspiration.png" alt="">
                <div class="section-inspiration-content-video-block" data-aos="flip-right" data-aos-delay="300">
                    <div class="text">watch video</div>
                    <a class="video-play play" type="button" data-toggle="modal" data-target="#thanks">
                        <i class="icon icon-play"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>