.section-inspiration{
  position: relative;
  &-bg{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-image: url("../images/grid_blue_pattern_light_blue.png");
    height: 500px;
    background-repeat: repeat-x;
    z-index: -1;
    background-size: contain;
  }
  &-content{
    &-video{
      position: relative;
      text-align: center;
      &-block{
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -47px;
        margin-top: -62px;
        .text{
          color: $color_white;
          text-transform: uppercase;
          font-size: 14px;
          line-height: 26px;
          text-align: center;
          padding-bottom: 18px;
        }
        .video-play{
          display: block;
          &:hover{
            transform: scale(1.15);
          }
        }
      }
    }
  }
}