<section class="section section-capital">
    <div class="section-capital-bg"></div>
    <div class="container">
        <div class="section-block-top">
            <div class="section-name" data-aos="fade-up" data-aos-easing="ease" data-aos-delay="100">Envoy Capital</div>
            <div class="block-text-blue" data-aos="fade-up" data-aos-easing="ease" data-aos-delay="200">asset management platform will provide  </div>
        </div>
        <div class="section-capital-content container-min">
            <div class="section-capital-content-item" data-aos="fade-up" data-aos-easing="ease" data-aos-delay="50">
                <div class="section-capital-content-item-icon">
                    <i class="icon icon-2"></i>
                </div>
                <div class="section-capital-content-item-text">Accurate data collection and management</div>
            </div>
            <div class="section-capital-content-item" data-aos="fade-up" data-aos-easing="ease" data-aos-delay="100">
                <div class="section-capital-content-item-icon">
                    <i class="icon icon-5"></i>
                </div>
                <div class="section-capital-content-item-text">Efficiency processing,
                    data handling / modelling </div>
            </div>
            <div class="section-capital-content-item" data-aos="fade-up" data-aos-easing="ease" data-aos-delay="150">
                <div class="section-capital-content-item-icon">
                    <i class="icon icon-4"></i>
                </div>
                <div class="section-capital-content-item-text">Reduction of information asymmetry </div>
            </div>
            <div class="section-capital-content-item" data-aos="fade-up" data-aos-easing="ease" data-aos-delay="200">
                <div class="section-capital-content-item-icon">
                    <i class="icon icon-3"></i>
                </div>
                <div class="section-capital-content-item-text">Transparent record keeping of all transactions</div>
            </div>
            <div class="section-capital-content-item" data-aos="fade-up" data-aos-easing="ease" data-aos-delay="250">
                <div class="section-capital-content-item-icon">
                    <i class="icon icon-1"></i>
                </div>
                <div class="section-capital-content-item-text">More accurate predictive insight</div>
            </div>
            <div class="section-capital-content-item" data-aos="fade-up" data-aos-easing="ease" data-aos-delay="300">
                <div class="section-capital-content-item-icon">
                    <i class="icon icon-6"></i>
                </div>
                <div class="section-capital-content-item-text">Easier fraud detection and prevention</div>
            </div>
        </div>

    </div>
</section>