<section class="section section-join">
    <div class="container">
        <div class="section-block-top">
            <div class="section-name" data-aos="fade-up" data-aos-easing="ease" data-aos-delay="200">Join us</div>
            <div class="block-text-blue" data-aos="fade-up" data-aos-easing="ease" data-aos-delay="300">Envoy Capital community is the backbone of the ecosystem </div>
        </div>
        <div class="section-join-social" data-aos="fade-up" data-aos-easing="ease" data-aos-delay="400">
            <a href="/" class="link"><i class="icon icon--1"></i></a>
            <a  href="/" class="link"><i class="icon icon--2"></i></a>
            <a href="/" class="link"><i class="icon icon--3"></i></a>
            <a href="/" class="link"><i class="icon icon--4"></i></a>
            <a href="/" class="link"><i class="icon icon--5"></i></a>
            <a href="/" class="link"><i class="icon icon--6"></i></a>
            <a href="/" class="link"><i class="icon icon--7"></i></a>
            <a href="/" class="link"><i class="icon icon--8"></i></a>
            <a href="/" class="link"><i class="icon icon--9"></i></a>
            <a href="/" class="link"><i class="icon icon--10"></i></a>
        </div>
        <div class="section-join-form">
            <div class="section-join-form_title" data-aos="fade-up" data-aos-easing="ease" data-aos-delay="400"><h2>Envoy Capital Newsletter</h2></div>
            <div class="block-text-blue" data-aos="fade-up" data-aos-easing="ease" data-aos-delay="500">Stay on top of Envoy Capital Developments</div>
            <form class="form">
                <div class="form-group">
                    <div class="box-control"><input type="text"  class="form-control" placeholder="Enter your Email"></div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-blue btn-full">Subscribe Now</button>
                </div>
            </form>
        </div>
    </div>
</section>