<section class="section section-funds" data-aos="flip-left"
         data-aos-easing="ease-out-cubic"
         data-aos-duration="1000">
    <div class="container">
        <div class="section-block-top">
            <div class="section-name mini" data-aos="fade-up" data-aos-easing="ease" data-aos-delay="200">Use of Funds</div>
        </div>
        <div class="section-funds_item">
            <div class="section-funds_item-text"><b>V1</b> – Variable Discount (>30% discount)</div>
            <div class="section-funds_item-value">
                <div class="percent">17%</div>
                <span class="value">
                    <span class="value-item value-item-bg-1"></span>
                    <span class="value-item value-item-bg-1"></span>
                    <span class="value-item value-item-bg-1"></span>
                    <span class="value-item value-item-bg-1"></span>
                    <span class="value-item value-item-bg-1"></span>
                </span>
            </div>
        </div>
        <div class="section-funds_item">
            <div class="section-funds_item-text"><b>T0</b> – Whitelist (50% discount)</div>
            <div class="section-funds_item-value">
                <div class="percent">3%</div>
                <span class="value">
                    <span class="value-item value-item-bg-2"></span>
                </span>
            </div>
        </div>
        <div class="section-funds_item">
            <div class="section-funds_item-text"><b>T1</b> – private presale (30% discount)</div>
            <div class="section-funds_item-value">
                <div class="percent">8%</div>
                <span class="value">
                    <span class="value-item value-item-bg-3"></span>
                    <span class="value-item value-item-bg-3"></span>
                </span>
            </div>
        </div>
        <div class="section-funds_item">
            <div class="section-funds_item-text"><b>T2</b> – Public presale (20% discount)</div>
            <div class="section-funds_item-value">
                <div class="percent">8%</div>
                <span class="value">
                    <span class="value-item value-item-bg-4"></span>
                    <span class="value-item value-item-bg-4"></span>

                </span>

            </div>
        </div>
        <div class="section-funds_item">
            <div class="section-funds_item-text"><b>T3</b> – ICO stage 1 (10% discount)</div>
            <div class="section-funds_item-value">
                <div class="percent">16%</div>
                <span class="value">
                    <span class="value-item value-item-bg-5"></span>
                    <span class="value-item value-item-bg-5"></span>
                    <span class="value-item value-item-bg-5"></span>
                    <span class="value-item value-item-bg-5"></span>
                    <span class="value-item value-item-bg-5"></span>
                </span>
            </div>
        </div>
        <div class="section-funds_item">
            <div class="section-funds_item-text"><b>T4</b> – ICO stage 2 (no discount)</div>
            <div class="section-funds_item-value">
                <div class="percent">13%</div>
                <span class="value">
                    <span class="value-item value-item-bg-6"></span>
                    <span class="value-item value-item-bg-6"></span>
                    <span class="value-item value-item-bg-6"></span>
                    <span class="value-item value-item-bg-6"></span>
                </span>
            </div>
        </div>
        <div class="section-funds_item">
            <div class="section-funds_item-text"><b>I1</b> – Founders/Introducers</div>
            <div class="section-funds_item-value">
                <div class="percent">11%</div>
                <span class="value">
                    <span class="value-item value-item-bg-7"></span>
                    <span class="value-item value-item-bg-7"></span>
                    <span class="value-item value-item-bg-7"></span>
                </span>
            </div>
        </div>
        <div class="section-funds_item">
            <div class="section-funds_item-text"><b>I2</b> – Bounty/Marketing</div>
            <div class="section-funds_item-value">
                <div class="percent">11%</div>
                <span class="value">
                    <span class="value-item value-item-bg-8"></span>
                    <span class="value-item value-item-bg-8"></span>
                    <span class="value-item value-item-bg-8"></span>
                </span>
            </div>
        </div>
        <div class="section-funds_item">
            <div class="section-funds_item-text"><b>I3</b> – Advisers/Introducers</div>
            <div class="section-funds_item-value">
                <div class="percent">11%</div>
                <span class="value">
                    <span class="value-item value-item-bg-9"></span>
                    <span class="value-item value-item-bg-9"></span>
                    <span class="value-item value-item-bg-9"></span>
                </span>
            </div>
        </div>
        <!--<div class="section-funds_item">-->
            <!--<div class="section-funds_item-text"><b>Unallocated</b> (Discretionary Fund)</div>-->
            <!--<div class="section-funds_item-value">-->
                <!--<div class="percent">13%</div>-->
                <!--<span class="value">-->
                   <!--<span class="value-item value-item-bg-10"></span>-->
                   <!--<span class="value-item value-item-bg-10"></span>-->
                   <!--<span class="value-item value-item-bg-10"></span>-->
                   <!--<span class="value-item value-item-bg-10"></span>-->
                   <!--<span class="value-item value-item-bg-10"></span>-->
                <!--</span>-->
            <!--</div>-->
        <!--</div>-->
    </div>
</section>