.section-capital{
  position: relative;
  padding-bottom: 40px;
  &-bg{
    position: relative;
    @include web_transform(scaleY(0.9));
    &:after{
      width: 1100px;
      height: 1100px;
      background: $color_white;
      top: 400px;
      left: 50%;
      margin-left: -550px;
      position: absolute;
      @include web_transform(rotate(45deg));
      content: '';
    }
  }
  &-content{
    display: flex;
    align-content: flex-start;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 0 15px;
    &-item{
      max-width: 26%;
      padding: 25px 0 5px;
      width: 100%;
      text-align: center;
      &-icon{
        height: 81px;
        margin-bottom: 5px;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: row;
      }
      &-text{
        font-size: 16px;
        line-height: 24px;
        color: $color_black;
      }
    }
  }
}
@media(max-width: 767px) {
  .section-capital-content-item {
    max-width: 40%;
  }
}
@media(max-width: 520px) {
  .section-capital-content-item {
    max-width: 100%;
  }
}