.section-ico{
  .section-block-top{
    margin-bottom: 30px;
  }
  &-list{
    text-align: center;
    &_item{
      padding-top: 30px;
      color: $color_text;
      text-align: center;
      &-content{
        text-align: center;
        font-size: 16px;
        .name{
          font-size: 30px;
          font-weight: bold;
          color: $color_blue_1;
        }
      }
    }
  }
  @media(min-width: 1025px) {
    .section-block-top{
      margin-bottom: 75px;
    }
    &-list{
      text-align: center;
      &:last-child{
        margin-bottom: 70px;
      }
      &_item{
        width: 190px;
        height: 160px;
        padding-top: 70px;
        @include web_transform(scaleY(0.9));
        display: inline-block;
        vertical-align: top;
        margin: 0 80px;
        color: $color_text;
        text-align: left;
        &:first-child{
          margin-left: 0;
        }
        &:last-child{
          margin-right: 0;
        }
        &:after{
          position: absolute;
          content: '';
          top:0;
          width: 190px;
          height: 190px;
          background: $color_white;
          @include web_transform(rotate(45deg));
          border: 5px solid transparent;
        }
        .border &{
          &:after{
            border-color: $color_blue_1;
            background: none;
          }
        }
        .blue &{
          &:after{
            background: $color_blue_1;
            border-color: $color_blue_1;
          }
          .name{
            color: $color_white;
          }
        }
        &-content{
          @include web_transform(scaleY(1.12));
          position: relative;
          z-index: 1;
          text-align: center;
          .name{
            color: $color_link;
          }
        }
      }
    }
  }

}
@media(max-width: 767px) {
  .section-ico{
    .section-block-top{
      margin-bottom: 15px;
    }
    &-list{
      &_item{
        padding-top: 10px;
        &-content{
          .name{
            font-size: 28px;
            color: #37bfff;
          }
        }
      }
    }
  }
}