.section-roadmap{
  position: relative;
  padding-top: 100px;
  padding-bottom: 250px;
  &:before{
    position: absolute;
    content: '';
    top:50%;
    left:0;
    height: 50%;
    width:100%;
    background: $bg_dark;
    margin-top: 7px;
    z-index: -1;
  }
  &-bg-fon{
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    width: 100%;
    background-image: url("../images/grid_blue_pattern_dark_blue.png");
    height: 500px;
    background-size: contain;
    background-repeat: repeat-x;
    z-index: -1;
  }
  &-bg{
    position: relative;
    @include web_transform(scaleY(0.9));
    &:after{
      width: 1100px;
      height: 1100px;
      background: $color_white;
      top: 120px;
      left: 50%;
      margin-left: -550px;
      position: absolute;
      @include web_transform(rotate(45deg));
      content: '';
    }
  }
  &-list{
    max-width: 600px;
    margin: 60px auto 0;
    &_item{
      min-height: 65px;
      padding-bottom: 25px;
      @include block_flex;
      position: relative;
      &:before{
        position: absolute;
        top:0;
        left:50%;
        height: 100%;
        width: 3px;
        margin-left: -1.5px;
        background: $color_blue_1;
        opacity: 0.3;
        content: '';
      }
      &:last-child{
        &:before{
          display: none;
        }
      }
      >div{
        &:first-child{
          text-align: right;
          padding-right:20px;
        }
        &:last-child{
          text-align: left;
          padding-left:20px;
        }
      }
      &:nth-child(even){
        @include flex_row_reverse;
        >div{
          &:first-child{
            text-align: left;
            padding-left:20px;
            padding-right: 0;
          }
          &:last-child{
            text-align: right;
            padding-right:20px;
            padding-left: 0;
          }
        }
      }
      .name{
        text-transform: uppercase;
        color: $color_title;
        font-weight: bold;
        font-size: 14px;
        width: 50%;
        line-height: 1.57;
      }
      .text{
        font-size: 16px;
        line-height: 1.375;
        width: 50%;
        p{
          &:not(:last-child){
            margin-bottom: 0.5em;
          }
        }
      }
      &_point{
        background: $bg_body;
        width: 21px;
        height: 20px;
        @include web_transform(rotate(45deg));
        border: 3px solid $color_blue_1;
        position: relative;
        z-index: 1;
        .active &{
          background: $color_blue_1;
        }
      }
    }
  }

}
@media(max-width: 520px) {
  .section-roadmap {
    &-list {
      margin-top: 20px;
      &_item {
        position: relative;
        max-width: 300px;
        margin: 0 auto;
        -webkit-flex-direction: column;
        flex-direction: column;
        &:nth-child(even) {
          -webkit-flex-direction: column;
          flex-direction: column;
        }
        &:before {
          left: 10px;
        }
        &_point{
          position: absolute;
          left: 0;
          top: 0;
        }
        .name {
          width: 100%;
          padding-left: 30px;
        }
        .text {
          width: 100%;
        }
        &>div{
          &:last-child {
            padding-left: 30px;
          }
          &:first-child {
            text-align: left;
            padding-right: 0;
            padding-left: 30px;
          }
        }
        &:nth-child(even) > div{
          &:first-child {
            text-align: left;
            padding-left: 30px;
          }
          &:last-child {
            text-align: left;
            padding-right: 0;
            padding-left: 30px;
          }
        }
      }
    }
  }
}
