<section class="section section-ico" id="ICO">
    <div class="container">
        <div class="section-block-top">
            <div class="section-name" data-aos="fade-up" data-aos-easing="ease" data-aos-delay="200">Ico details</div>
        </div>
        <div class="section-ico-list" data-aos="fade-down" data-aos-delay="200">
            <div class="section-ico-list_item">
                <div class="section-ico-list_item-content" >Token Type<div class="name">ERC20</div></div>
            </div>
            <div class="section-ico-list_item">
                <div class="section-ico-list_item-content" >Token Code<div class="name">NVOY</div></div>
            </div>
        </div>
        <div class="section-ico-list border" data-aos="fade-right" data-aos-delay="300">
            <div class="section-ico-list_item" >
                <div class="section-ico-list_item-content" >Cost Cap<div class="name">4,000 ETH</div></div>
            </div>
            <div class="section-ico-list_item">
                <div class="section-ico-list_item-content" >Target Cap<div class="name">40,000 ETH</div></div>
            </div>
            <div class="section-ico-list_item">
                <div class="section-ico-list_item-content" >Hard Cap<div class="name">50,000 ETH</div></div>
            </div>
        </div>
        <div class="section-ico-list blue" data-aos="fade-up" data-aos-easing="ease" data-aos-delay="400">
            <div class="section-ico-list_item" >
                <div class="section-ico-list_item-content">Initial token issue<div class="name">200,000,000</div></div>
            </div>
            <div class="section-ico-list_item" >
                <div class="section-ico-list_item-content">Release for future SPVs<div class="name">100,000,000</div></div>
            </div>
        </div>
    </div>
</section>