.section-funds{
  padding-bottom: 80px;
  position: relative;
  z-index: 1;
  .section-block-top{
    margin-bottom: 50px;
  }
  &_item{
    @include block_flex;
    max-width: 640px;
    margin: 25px auto;
    line-height: 25px;
    font-size: 16px;
    color: $color_link;
    &-text{
      width: 50%;
      text-align: right;
      padding-right: 12px;
    }
    &-value{
      width: 50%;
      padding-left: 12px;
      .value-item{
        width: 26px;
        height: 26px;
        display: inline-block;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        transform: rotate(45deg);
        margin-right: 7px;
        &.value-item-bg-1{background: #3bc0ff;}
        &.value-item-bg-2{background: #3ab7f6;}
        &.value-item-bg-3{background: #38a8e7;}
        &.value-item-bg-4{background: #3699d8;}
        &.value-item-bg-5{background: #3383c2;}
        &.value-item-bg-6{background: #3170af;}
        &.value-item-bg-7{background: #2e5b99;}
        &.value-item-bg-8{background: #2c4a88;}
        &.value-item-bg-9{background: #2a3a78;}
        &.value-item-bg-10{background: #282d6b;}
      }
    }
    .percent{
      width: 50px;
      text-align: right;
      font-size: 20px;
      font-weight: bold;
      color: $color_blue_1;
      display: inline-block;
      vertical-align: top;
      margin-right: 15px;
    }
  }
}
@media(max-width: 767px) {
  .section-funds_item {
    flex-direction: column;
    margin: 12px auto;
    z-index: 2;
    position: relative;
    max-width: 300px;
    &-text{
      width: 100%;
      text-align: left;
      padding-right: 0;
    }
    &-value {
      width: 100%;
      padding-left: 0;
      padding-top: 12px;
      text-align: left;
      .percent {
        text-align: left;
      }
    }
  }
}