.section-join{
  background: $bg_dark;
  color: $color_white;
  padding-top: 90px;
  padding-bottom: 50px;
  text-align: center;
  .section{
    &-name{
      color: $color_white;
    }
    &-block-top{
      &:after{
        background-color: $color_white;
      }
    }
  }
  &-form{
    margin-top: 90px;
    &_title{
      text-transform: uppercase;
      *{
        line-height: 1;
      }
    }
    .form{
      max-width: 225px;
      margin: 30px auto 0;
      &-control{
        text-align: center;
      }
      .box-control{
        &:after,&:before{background: $bg_dark;}
      }
    }
  }
  &-social{
    margin-top: 50px;
    .link{
      width: 40px;
      height: 40px;
      color: $color_white;
      @include web_transform(scaleY(0.9));
      margin: 0 20px;
      position: relative;
      line-height: 40px;
      .icon{
        vertical-align: middle;
        margin-top: -2px;
        position: relative;
        z-index: 2;
      }
      &:after{
        position: absolute;
        content: '';
        top:0;
        height: 100%;
        width:100%;
        background-color: $bg_dark;
        border: 1px solid $color_blue_1;
        @include web_transform(rotate(45deg));
        transform-origin: 13% -40%;
        -webkit-transform-origin: 13% -40%;
      }

      .icon{
        @include web_transform(scaleY(1.12));
      }
    }
  }
}
@media(max-width: 1024px) {
  .section-join {
    .section {
      &-name {
        color: $color_blue_1;
      }
    }
    &-social {
      .link {
        margin: 15px 20px;
      }
    }
  }
}