.footer{
  text-align: center;
  line-height: 30px;
  padding: 90px 0 20px;
  background: $bg_dark;
  color: $color_white;
  position: relative;
  overflow: hidden;
  min-height: 260px;
  font-size: 12px;
  &-bg-fon{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-size: contain;
    background-image: url("../images/grid_blue_pattern_dark_blue.png");
    height: 300px;
    background-repeat: repeat-x;
    z-index: 0;
    transform: rotate(-180deg);

  }
  .container{
    z-index: 2;
  }
  &:before{
    width: 400px;
    height: 400px;
    background: $bg_footer;
    top:85px;
    left: 50%;
    margin-left: -200px;
    position: absolute;
    @include web_transform(rotate(45deg));
    content: '';
    z-index: 1;
  }
  &-logo{
    margin-bottom: 5px;
  }
  &-nav{
    max-width: 400px;
    @include block_flex;
    @include flex_justify_between;
    margin: 10px auto 0;
    a{
      color: $color_blue_1;
      font-size: 12px;
      text-decoration: underline;
      margin: 0 7px;
      &:hover{
        text-decoration: none;
      }
    }
  }
}

@media(max-width: 480px) {
  .footer-nav {
    flex-direction: column;
  }
}