    <footer class="footer">
        <div class="footer-bg-fon"></div>
        <div class="container">
            <div class="footer-logo"><img src="images/logo-down.png"></div>
            © 2018 Envoy
            <div class="footer-nav">
                <a href="/">CoinMarketCap</a>
                <a href="/">info@envoycapital.io</a>
                <a href="/">Privacy Policy</a>
            </div>
        </div>
    </footer>

