header{
  text-align: center;
}
.header-logo {
  width: 24%;
  height: 50px;
  background: $color_white;
  position: relative;
  img{
    position: relative;
    top: 0;
    left: -8px;
  }
}

.header-logo {
  @include web_transition(all 0.1s ease-in-out);
  &:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    border-top: 30px solid $color_white;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    width: calc(100% - 70px);
    height: 0;
    @include web_transition(all 0.1s ease-in-out);
  }
}
.header{
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  line-height: 50px;
  z-index: 10;
  padding: 10px 0;
  background: $color-white;
  @include web_transition(all 0.1s ease-in-out);
  &.scroll{
    @include web_transition(all 0.1s ease-in-out);
    @include box_shadow( 0 0 20px rgba(41, 37, 98, 0.4));
    .header-logo{
      width: 16%;
      &:before{
        visibility: hidden;
        @include web_transition(all 0.1s ease-in-out);

      }
    }
  }
  &~.main{
    padding-top: 70px;
  }
  &-logo{
    text-transform: uppercase;
    font-size: 20px;
    img{
      vertical-align: middle;
    }
  }
  &-nav{
    li{
      display: inline-block;
      vertical-align: top;
      margin: 0 5px;
      position: relative;
      font-size: 15px;
      color: #272563;
      a{
        position: relative;
        &:hover{
          color: #2ab3f4;
        }
      }
      &.active{
        a{
          color: #2ab3f4;
        }
        &:after{
          position: absolute;
          bottom:0;
          left:50%;
          width: 46px;
          margin-left: -23px;
          height: 2px;
          background: $color_white;
          content: '';
        }
      }
    }
  }
  &-menu{
    line-height: normal;
    display: none;
    .btn-menu{
      margin-right: -15px;
    }
  }

}
@media(max-width: 1280px) {
  .header{
    &-logo {
      width: 20%;
    }
    &-nav{
      width: 40%;
      li{
        margin: 0 4px;
      }
    }
  }
}
@media(min-width: 1281px) {
  .header-nav{
    display: block!important;
    width: 37%;
    .nav-left{
      width: 37% !important;
    }
  }
}
@media(min-width: 941px) {
  .header{
    .header-nav{
      display: block !important;
    }
    .flexible{
      position: relative;
      .nav-left{
        position: absolute;
        left: 0;
        top: 0;
        width: 40%;
      }
    }
  }
  .header-nav{
    .nav{
      display: flex;
      display: -webkit-flex;
      justify-content: space-between;
      -webkit-justify-content: space-between;
    }
  }
}
@media(max-width: 940px) {
  .header{
    &~.main{
      padding-top: 60px;
    }
    padding: 5px 0;
    line-height: 45px;
    &-logo{
      z-index: 11;
      width: 150px;
      img{
        height: 35px;
      }
      &:before{
        display: none;
      }
    }
    &.scroll{
      .header-logo{
        width: 150px;
      }
    }
    &-nav{
      display: none;
      position: fixed;
      top:0;
      left:-100%;
      height: 100%;
      width: 100%;
      padding-top: 100px;
      line-height: 38px;
      z-index: 9;
      background: $color-white;
      li{
        display: block;
        margin: 0;
        &:after{
          display: none;
        }
        a{
          border-bottom: 3px solid transparent;
        }
        &.active{
          a{
            border-bottom-color: $color_white;
            opacity: 1;
          }
        }
      }
      &.open{
        left: 0;
      }
    }
    &-menu{
      z-index: 11;
      display: block;
      .btn-border{
        min-width: 145px;
      }
    }
  }
  .menu-open{
    overflow: hidden;
    .header-logo{
      opacity: 0.99!important;
    }
  }
}