<header class="header">
    <div class="container">
        <div class="flexible">
            <div class="header-nav">

            </div>
            <a id="octagon" class="header-logo" href="index.html"><img src="images/logo.png"></a>
            <div class="header-nav" id="">
                <ul class="nav nav-left">
                    <li><a class="link scroll-page" href="#vision">Vision</a></li>
                    <li><a class="link scroll-page" href="#inspiration">Inspiration</a></li>
                    <li><a class="link scroll-page" href="#teams1">Team</a></li>
                    <li><a class="link scroll-page" href="#ICO">ICO Details</a></li>
                </ul>
                <ul class="nav">
                    <li><a class="link scroll-page" href="#roadmap">Roadmap</a></li>
                    <li><a class="link" href="#">Community</a></li>
                    <li><a class="link" href="#">Newsletter</a></li>
                    <li><a class="link " href="#">Buy NVOY</a></li>
                </ul>
            </div>
            <div class="header-menu">
                <a class="btn btn-menu">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
            </div>
        </div>
    </div>
</header>